@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .navbar {
    @apply flex justify-between items-center py-5 px-7 bg-white  w-full z-50  lg:absolute !important;
  }
  .hamburger-menu-line {
    @apply block w-7 h-[0.17rem] bg-darkBlue transition-all duration-300 ease-in-out origin-[3px_1px];
  }
  .hamburger-menu-line:not(:last-child) {
    @apply mb-[0.31rem];
  }
  .nav-links > li:not(:last-child) {
    @apply mr-7;
  }
  .request-invite-btn {
    @apply py-[0.75rem] px-[2.13rem] rounded-full bg-gradient-to-r from-limeGreen to-brightCyan text-white text-[0.9rem]  hover:opacity-80 hover:shadow-sm;
  }

  .link {
    @apply hover:text-darkBlue  relative after:w-0 after:h-[0.30rem] after:absolute   after:left-[50%] pb-8 after:bottom-0   after:bg-gradient-to-r after:from-limeGreen after:to-brightCyan after:transition-all after:duration-[350ms] after:ease-in-out hover:after:w-full hover:after:left-0 transition-all duration-[350ms] ease-in-out;
  }
  .open .hamburger-menu-line:first-child {
    @apply rotate-45;
  }
  .open .hamburger-menu-line:nth-child(2) {
    @apply opacity-0;
  }
  .open .hamburger-menu-line:last-child {
    @apply -rotate-45;
  }

  /* .open .overlay {
    animation: fade-in 5000ms ease-in-out forwards;
  } */

  .fade-in-animation {
    animation: fade-in 300ms ease-in-out forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
  .fade-out-animation {
    animation: fade-out 400ms ease-in-out forwards;
  }
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.25;
    }
    to {
      opacity: 0;
    }
  }
  .gradient {
    background-image: linear-gradient(hsl(233, 26%, 24%), transparent);
  }

  .hero-img {
    position: relative;
    width: 100%;
    background-image: url("../images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 17.5rem;
  }

  .hero-img::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/image-mockups.png");
    background-size: 93%;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  .lg-hero-img {
    @apply lg:min-h-[41rem]
    lg:bg-none 
    lg:before:bg-[url('../images/bg-intro-desktop.svg')] 
    lg:before:w-[150%] 
    lg:before:h-[100%]
    lg:before:bg-[length:122%] 
    lg:before:bg-hero-img 
    lg:before:bg-no-repeat 
    lg:before:absolute 
    lg:after:bg-[length:94%] 
    lg:after:left-[22%]  
    lg:after:h-[122%] 
    lg:after:w-[120%] 
    lg:after:bg-[center_150%]
    md:min-h-[25rem] md:after:bg-[length:52%]
    md:after:bg-[center_60%];
  }
  .feature-item {
    @apply md:grow-0 md:shrink-0 md:basis-[50%] lg:flex-1 p-[0.9375rem];
  }
  .feature {
    @apply text-xl lg:text-2xl mb-[1.1rem] lg:mb-[1.45rem];
  }
  .feature-description {
    @apply text-grayishBlue text-[0.9rem];
  }
  .feature-icon {
    @apply mb-[1.875rem] lg:mb-[2.75rem] flex justify-center md:justify-start;
  }
  .article-item {
    @apply bg-White rounded-md overflow-hidden shadow-xl transition-all duration-300 ease-in-out  hover:scale-[1.07];
  }
  .article-img {
    @apply h-[12.5rem] w-full object-cover;
  }
  .about-article {
    @apply text-grayishBlue px-6 pt-7 pb-10 md:p-[1.875rem_1.562rem];
  }
  .article-author {
    @apply text-xs mb-3;
  }
  .article-title {
    @apply text-darkBlue text-[1.062rem] mb-2 leading-tight;
  }
  .article-description {
    @apply text-[0.8125rem];
  }
  .footer {
    @apply p-10 bg-darkBlue text-white text-center  mx-auto max-w-[69.375rem];
  }
  .footer-grid {
    @apply grid lg:grid-cols-[repeat(3,1fr)_2fr] lg:gap-[0rem_2rem] lg:grid-rows-2;
  }
  .footer-icon {
    @apply mb-7 flex justify-center space-x-4 h-fit;
  }
  .social-icon {
    @apply hover:scale-125   transition-all duration-300 ease-in-out;
  }
  svg path {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
  .social-icon:hover svg path {
    fill: hsl(136, 65%, 51%);
  }

  .footer-link {
    @apply transition-all duration-300 ease-in-out  hover:bg-gradient-to-r hover:from-limeGreen hover:to-brightCyan hover:text-transparent hover:bg-clip-text;
  }
  @media (min-width: 1024px) {
    .grid-areas {
      grid-template-areas:
        "footer-logo link-1 link-2 cta"
        "footer-icon link-1 link-2 cta";
    }
    .footer-logo {
      grid-area: footer-logo;
      justify-self: start;
    }
    .link-1 {
      grid-area: link-1;
      justify-self: right;
    }
    .link-2 {
      grid-area: link-2;
      justify-self: right;
    }
    .footer-icon {
      grid-area: footer-icon;
    }
    .cta {
      grid-area: cta;
    }
  }
}
